* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: lightgrey;

}
@keyframes fading {
 from {opacity: 0.0;}
 to {opacity: 1;}
}

main *{
  margin:2rem 1rem;
  animation-name: fading;
  animation-duration: 400ms;
}
