* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: lightgrey;

}
@keyframes fading {
 from {opacity: 0.0;}
 to {opacity: 1;}
}

main *{
  animation-name: fading;
  animation-duration: 400ms;
}
main {
  margin:2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form {
    background-color: white;
    padding: 3rem;
    border-radius: 0.5rem;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }


.auth-form *{
    font-size: 1.5rem;
  }

.auth-form button{
    margin: 3rem 0 0;
  }
