@import "../../colors.css";
header {
  background-color: var(--background);
  display: flex;
  padding: 0 0.7rem;
  justify-content: space-between;
  height:4rem;
}
nav{
  display: flex;
  margin-block-start:0.5rem;
  gap: 1rem;
}
nav a {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  text-decoration: none;
  color:var(--background-dark);
  background-color: var(--foreground-dark);
  border-radius: 0.5rem;
  height:3.8rem;
  transition:300ms linear height;
}

header .username{
    font-size:2rem;
    font-weight: 500;
    margin-inline-end:1rem;
  }

.active{
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: var(--foreground);
  }

.logout-button{
  background-color: var(--background);
  border: none;
  border-radius: 0.2rem;
  padding:0.2rem;
  height: 2rem;
  margin: auto 1rem auto 0;
  transition: 200ms;
}

.logout-button:hover{
  background-color: var(--acent);
}

.logout-button > svg{
  height: 1.5rem;
  width: 1.5rem;
  fill:antiquewhite
}
